* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}
.arrow-right-down{
  position: fixed;
  top: 90%;
  right: 1%;
  font-size: 2.5rem;
  z-index: 500;
  color: #0078FF;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #0078FF ;
}
.section-head-logo {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  color: rgb(30, 30, 30);
}
.section-head-para {
  position: relative;
}
.section-head-para::after {
  content: "";
  position: absolute;
  width: 4%;
  height: 5px;
  background-color: #0078ff;
  bottom: -80%;
  left: 50%;
  transform: translateX(-50%);
}

.home-section {
  background-image: url(./../IMG/hero-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.layer {
  background-color: rgb(0, 0, 0, 0.5);
}
.devfolio-font {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.position-fixed {
  z-index: 9999;
}
.nav-links-font {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.morgan {
  font-size: 72px;
  line-height: 86px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.head-animation {
  font-size: 72px;
  line-height: 86px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
/******* Start Typewriter effect ******/
@keyframes typing {
  0.0000%,
  27.3488% {
    content: "";
  }
  1.1395%,
  26.2093% {
    content: "D";
  }
  2.2791%,
  25.0698% {
    content: "De";
  }
  3.4186%,
  23.9302% {
    content: "Dev";
  }
  4.5581%,
  22.7907% {
    content: "Deve";
  }
  5.6977%,
  21.6512% {
    content: "Devel";
  }
  6.8372%,
  20.5116% {
    content: "Develo";
  }
  7.9767%,
  19.3721% {
    content: "Develop";
  }
  9.1163%,
  18.2326% {
    content: "Develope";
  }
  10.2558%,
  17.0930% {
    content: "Developer";
  }

  30.7674%,
  58.2791% {
    content: "";
  }
  31.9070%,
  57.1395% {
    content: "P";
  }
  33.0465%,
  56.0000% {
    content: "Ph";
  }
  34.1860%,
  54.8605% {
    content: "Pho";
  }
  35.3256%,
  53.7209% {
    content: "Phot";
  }
  36.4651%,
  52.5814% {
    content: "Photo";
  }
  37.6047%,
  51.4419% {
    content: "Photog";
  }
  38.6047%,
  50.4419% {
    content: "Photogr";
  }
  39.6047%,
  49.4419% {
    content: "Photogra";
  }
  40.78%,
  48.4419% {
    content: "Photograp";
  }
  41.9%,
  47.4419% {
    content: "Photograph";
  }
  42.95%,
  46.4419% {
    content: "Photographe";
  }
  43.21%,
  45.4419% {
    content: "Photographer";
  }

  58.2791%,
  83.2093% {
    content: "";
  }
  59.8372%,
  82.0698% {
    content: "F";
  }
  61.9767%,
  83.9302% {
    content: "Fr";
  }
  62.1163%,
  82.7907% {
    content: "Fre";
  }
  63.2558%,
  81.6512% {
    content: "Free";
  }
  64.3953%,
  80.5116% {
    content: "Freel";
  }
  65.5349%,
  79.3721% {
    content: "Freela";
  }
  66.5349%,
  78.3721% {
    content: "Freelan";
  }
  67.5349%,
  77.3721% {
    content: "Freelanc";
  }
  68.5349%,
  76.3721% {
    content: "Freelance";
  }
  69.5349%,
  75.3721% {
    content: "Freelancer";
  }

  83.2093%,
  99.8605% {
    content: "";
  }
  84.7674%,
  98.7209% {
    content: "D";
  }
  85.9070%,
  97.5814% {
    content: "De";
  }
  86.0465%,
  96.4419% {
    content: "Des";
  }
  87.1860%,
  95.3023% {
    content: "Desi";
  }
  88.3256%,
  94.1628% {
    content: "Desig";
  }
  89.3256%,
  93.1628% {
    content: "Desige";
  }
  90.3256%,
  92.1628% {
    content: "Designer";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    100% {
      content: "developer";
    }
    25% {
      content: "photographer";
    }
    50% {
      content: "freelancer";
    }
    75% {
      content: "designer";
    }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}

/***********end Typewritter effect*******/

/************About Section**********/
.about-main {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: rgb(30, 30, 30);
}
.about-details {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(78, 78, 78);
}
.about-para {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: rgb(78, 78, 78);
}

.progress-style {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(78, 78, 78);
}

/************Services Section*****************/

.card-img {
  width: 120px;
  height: 120px;
  border: 0.5rem solid #0078ff;
  background-color: #f5f5f5;
  border-radius: 50%;
  transition: all 1s;
}
.card-img:hover {
  background-color: #0078ff;
  border: 0.5rem solid #cde1f8;
}
.card-img:hover .awesome-circle {
  color: white;
}
.awesome-circle {
  font-size: 3rem;
  font-weight: bolder;
  color: black;
  transition: all 1s;
}
/******Counter Section****/
.counter-section {
  background-image: url(./../IMG/post-3.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.layer2 {
  background-color: rgba(0, 120, 255, 0.7);
}

.counter-img {
  width: 80px;
  height: 80px;
  border: 0.5rem solid #cde1f8;
  background-color: transparent;
  border-radius: 50%;
}

.counter-circle {
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}

/************Portfolio Section*****************/
.port-card-title {
  font-size: 19px;
  line-height: 23px;
  font-weight: 500;
  color: rgb(30, 30, 30);
}
.plus-sign {
  font-size: 1.8rem;
  color: #0078ff;
}

.card-right {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 3px solid #0078ff;
}

.port-card-footer-one {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: rgb(0, 120, 255);
}
.port-card-footer-two {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: rgb(78, 78, 78);
}
.portfolio-cards .card img {
  transition: all 1s;
}

.portfolio-cards .card img:hover {
  transform: scale(1.3);
}

/**************Slider Section ****************/
.slider-section {
  background-image: url(./../IMG/overlay-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.carousel-indicators {
  padding-top: 100rem;
}

.slider-section .layer2 .carousel-indicators .slide-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  top: 50px;
  margin-left: 0.5rem;
}

.slider-header1 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.slider-header2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

/******************BLOG*************************/

.small-box {
  width: auto;
  height: auto;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
  color: white;
}
.blogs-section .blog-card-text {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  transition: all 1s;
}

.blogs-section .blog-card-text:hover {
  color: rgb(0, 120, 255) !important;
}

.blogs-section .text-left-footer {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: black;
  transition: all 1s;
}

.blogs-section .text-left-footer:hover {
  color: rgb(0, 120, 255) !important;
}
.blogs-section .left-footer img {
  width: 30px;
  height: 30px;
}

/***************Form Section****************/
.form-section {
  background-image: url(./../IMG/overlay-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.form-container {
  padding-top: 6rem;
  padding-bottom: 3rem;
}
.form-section .msg-form {
  position: relative;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}
.msg-form::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 30%;
  height: 3px;
  background-color: #0078ff;
}

.btn-form-style {
  font-size: 19px;
  line-height: 29px;
  font-weight: 400;
  border: 3px solid white;
  transition: all 0.4s;
}

.btn-form-style:hover {
  border: 3px solid #3393ff;
}

.form-right-para {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: rgb(78, 78, 78);
}

.form-section .form-small-details {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: rgb(78, 78, 78);
}

.form-section .form-small-icons {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: rgb(0, 120, 255);
}

.form-media-img {
  width: 50px;
  height: 50px;
  border: 0.2rem solid #0078ff;
  background-color: white;
  border-radius: 50%;
  transition: all 1s;
}

.form-media-img a {
  color: black;
}

.form-media-img:hover {
  background-color: #0078ff;
  border: 0.2rem solid #3393ff;
  cursor: pointer;
}
.form-media-img:hover a {
  color: white;
}
.form-section .form-center-img {
  width: 50%;
  font-size: 19px;
  line-height: 31px;
  font-weight: 400;
}

/***************Footer Section****************/
.footer-section {
  background-color: #0062d3;
}
